{% extends 'base.html' %}
{% block content %}

 <!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
 <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Welcome To Mcwane Employee Directory
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

            <div class="row">
                 <div class="col-md-9">


                    {% if request.user.is_authenticated %}
                        <h3>Hello {{request.user}}</h3>

                    {% else %}

                        <form class="login" method="POST" action="{% url 'account_login' %}">
                            <input type="hidden" name="csrfmiddlewaretoken" value="ZcyoOzwH5xAwd9euHbKbuLhsJZ8lCkqg" /> {% csrf_token %}

                            <div id="div_id_login" class="form-group"><label for="id_login" class="control-label  requiredField">
                            Login<span class="asteriskField">*</span></label><div class="controls "><input autofocus="autofocus" class="textinput textInput form-control" id="id_login" name="login" placeholder="Username or e-mail" type="text"> </div></div>

                            <div id="div_id_password" class="form-group"><label for="id_password" class="control-label  requiredField">
                            Password<span class="asteriskField">*</span></label><div class="controls "><input class="textinput textInput form-control" id="id_password" name="password" placeholder="Password" type="password"> </div></div>

                            <div class="form-group"><div id="div_id_remember" class="checkbox"><label for="id_remember" class=""><input class="checkboxinput checkbox" id="id_remember" name="remember" type="checkbox">
                            Remember Me
                            </label></div></div>

                            <a class="btn btn-link button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
                            <a class="btn btn-link button secondaryAction" href="{% url 'account_signup' %}">SignUp</a>

                            <button class="btn btn-default" type="submit">Sign In</button>
                        </form>

                    {% endif %}
                 </div>
            </div>



        {% if request.user.is_authenticated %}




            <div class="row">
                 <div class="col-md-12">

                   <section class="main-content">
                        <div class="grid">
                            <div class="col-6 spacer-col">
                                <div class="callout">
                                    <h2>McWane Environmental Focus</h2>
                                    <div class="call-image">
                                        <div class="image-container">
                                            <img src="http://www.mcwane.com/images/test/call-1.jpg" class="scale" alt="">
                                        </div>
                                    </div>
                                    <div class="call-content">
                                        <h3 class="title">Protecting the Environment for Generations to Come</h3>
                                        <p>Each year McWane recycles over 750,000 tons of scrap iron. Our products are reliable, durable and sustainable for generations.</p>
                                        <p class="action"><a href="/environment-sustainability/protecting-the-environment/"><i class="icon-plus-sign"></i>Learn about our commitment</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="callout product-finder">
                                    <h2>Find a McWane Product</h2>
                                    <div class="call-image">
                                            <div class="image-container">
                                                <img src="http://www.mcwane.com/images/test/call-2.jpg" class="scale" alt="">
                                            </div>
                                        </div>
                                    <div class="call-content">
                                        <p>Select a McWane product group type to learn more about our product offerings.</p>
                                        <form action="/product-finder/">
                                            <p>
                                                <select name="product">
                                                    <option value="">Select a Department</option>
                                                    <option value="Design">Product Design</option>
                                                    <option value="IT">IT</option>
                                                    <option value="SS">Sales &amp; Support</option>
                                                    <option value="Team Axapta">Team Ax</option>
                                                </select>
                                            </p>
                                            <p class="pf-action">
                                                <span class="button"><i class="icon-search"></i>Search <input class="button" type="submit" value="Search"></span>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                     <section class="news-module module">
                         <div class="grid">
                            <div class="col-12">
                                <h2>McWane Company News</h2>
                            </div>
                            <div class="col-6 spacer-col">
                                <h3>McWane Press Releases</h3>
                                <nav>
                                    <ul>
                                        <li><a href="/news/news-releases/statement-of-mcwane-inc-regarding-opinion-from-eleventh-circuit-court-of-appealsmcwane-to-appeal/"><i class="icon-file"></i>Statement of McWane, Inc. Regarding Opinion from Eleventh Circuit Court of AppealsMcWane to Appeal</a></li>
                                        <li><a href="/news/news-releases/broomfield-hospital-in-chelmsford-england-selects-zinwave-das-technology-for-its-in-building-mobile-/"><i class="icon-file"></i>Broomfield Hospital in Chelmsford, England, selects Zinwave DAS technology for its in-building mobile phone coverage requirements</a></li>
                                        <li><a href="/news/news-releases/synapse-wireless-receives-multiple-awards-at-2015-connected-world-conference/"><i class="icon-file"></i>Synapse Wireless Receives Multiple Awards at 2015 Connected World Conference</a></li>
                                    </ul>
                                    <p class="action"><a href="/news/news-releases/"><i class="icon-plus-sign"></i>More Press Releases</a></p>
                                </nav>
                            </div>
                            <div class="col-6">
                                <h3>McWane Community News</h3>
                                <nav>
                                    <ul>
                                        <li><a href="/news/articles/mcwane-ductile-ohio-safety-performance-recognized-by-coshocton-safety-council/"><i class="icon-file"></i>McWane Ductile-Ohio Safety Performance Recognized by Coshocton Safety Council</a></li>
                                        <li><a href="/news/articles/team-members-rescue-a-box-turtle-in-tyler-texas/"><i class="icon-file"></i>Team Members Rescue a Box Turtle in Tyler, Texas</a></li>
                                        <li><a href="/news/articles/jerri-penrose-retiring-from-canada-pipe-and-clow-canada-after-25-1-2-years-of-service/"><i class="icon-file"></i>Jerri Penrose Retiring from Canada Pipe and Clow Canada after 25½ Years of Service</a></li>
                                    </ul>
                                    <p class="action"><a href="/news/articles/"><i class="icon-plus-sign"></i>More Community News</a></p>
                                </nav>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
{% endif %}
    </section><!-- /.content -->


 </aside><!-- /.right-side -->

{% endblock %}


{% block two %}
<h1>Another h1 Tag</h1>
{% endblock %}