<!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">


                    {% if request.user.is_authenticated%}

                            {% url 'home' as home %}
                            {% url 'about' as about %}
                            {% url 'contact' as contact %}
                            {% url 'emp' as emp %}
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li {% if request.path == home %} class="active" {%endif%} >
                            <a href="{% url 'home' %}">
                                <i class="fa fa-dashboard"></i> <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'insert' %}">
                                <i class="fa fa-th"></i> <span>Add New Profile</span>
                            </a>
                        </li>

                          <li>
                            <a href="{% url 'emp' %}">
                                <i class="fa fa-laptop"></i> <span>Profile</span>
                            </a>
                        </li>




                        <li>
                            <a href="#">
                                <i class="fa fa-calendar"></i> <span>Events</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-envelope"></i> <span>Contact</span>
                            </a>
                        </li>

                    </ul>
                             {%endif%}
                </section>
                <!-- /.sidebar -->
            </aside>
